// Colors
$mainBg             :#FFFFFF;
$elements           :#FFA500;
$inStock            :#008435;
$fewStock           :#FFA500;
$noSstock           :#8E1216;
$bodyBg             :#E0E0E0;

$mainFontColor      :#000000;
$softFontColor      :#9C9D9D;
$softBorderColor    :#9C9D9D;

$accounMenuBg       :#000000;
$accounMenuColor    :#FFFFFF;

$clickerInputBg     :#E0E0E0;



// Sizes
$mainFontSize       :16px;
$mainFontWeight     :300;

// $mainLineHeight          : 1.4;

// $view-port              : 1200px;
// $desktopWidth           : 1280px;
// $smDesktopWidth         : 1024px;
// $tableWidth             : 768px;
// $smTableWidth           : 640px;
// $phoneWidth             : 480px;
// $smPhoneWidth           : 320px;