@import "partials/params";
@import "partials/mixins";

#container {
    & .catalog {
        // background-color: $mainBg ;

        & h2 { @include visually-hidden; }
    
        & .goods .item-goods {
            margin-bottom: 15px;
            background-color: $mainBg ;
            & .good-form {
                display: flex;
                justify-content: space-between;
                align-items: center;
                min-height: 80px;
                margin: 0 20px;

                &>div {
                    flex-grow: 1;
                    display: flex;
                }    
                & .header-container {
                    max-width: 153px;
                    order: 1;
                    & h4 {
                        font-size: 16px;
                        font-weight: 700;
                        display: inline-block;
                        border-bottom: 2px solid black;
                    }    
                } 
                & .approved-container {
                    margin-right: 23px; 
                    order: 2;
                    display: flex;
                    & .approved {
                        width: 64px;
                        height: 52px;
                        margin: 0 auto;
                    }
                }
                & .type-container {
                    max-width: 162px;        
                    order: 3;
                    & .type {
                        line-height: 25px;
                    }                 
                }
                & .stock-container {
                    order: 4;
                    flex-grow: 1;
                    margin-right: 27px;
                    & .stock {
                        position: relative;
                        margin-top: -25px;
                        &::before {
                            content: '';
                            position: absolute;
                            display: block;
                            width: 14px;
                            height: 14px;
                            border-radius: 7px;
                            margin-bottom: -14px;
                            left: 40px;
                            top: 3px;
                        }
                        &::after {
                            position: absolute;
                            display: block;
                            width: 150px;
                            font-weight: 600;
                            top: 25px;
                        }
                        &.instock {
                            margin-top: 2px;
                            &::before {
                                background: url(../img/instock.svg) no-repeat; 
                                background-color: $inStock;
                                background-position: center, center;
                            }    
                        }
                        &.eight-tires-left {
                            &::before {
                                background: url(../img/eight-tires-left.svg) no-repeat; 
                                background-color: $fewStock;
                                background-position: center, center;
                            }
                            &::after {
                                content: "8 Tires Left";
                                color: $mainFontColor;
                            }
                        }
                        &.back-in-week {
                            &::before {
                                background: url(../img/back-in-week.svg) no-repeat; 
                                background-color: $noSstock;
                                background-position: center, center;
                            }
                            &::after {
                                content: "Back in 1 week!";
                                color: $noSstock;
                            }
                        }
                    }
                }

                & .price-container{
                    max-width: 104px;
                    order: 5;               
                    & .pice {
        
                    }                 
                }
                & .total-container{
                    order: 7;
                    display: flex;
                    & .total {
                        margin: 0 auto;
                        line-height: 24px;
                        & span {
                            font-size: 20px;
                            font-weight: 700;
                        }
                        & .total-price-value {
                            width: 50px;
                            display: inline-block;
                        }
                    }               
                }
    
                & .clicker-container{       
                    order: 6;
                    display: flex;
                    & .clicker {
                        margin: 0 auto;
                        flex-grow: 0;
                        flex-shrink: 0;
                        display: flex;
                        border: 1px solid $bodyBg;
                        
                        & button {
                            position: relative;
                            width: 40px;
                            height: 40px;
                            padding-top: 0;
                            background-color: $mainBg ;
                            font-size: 24px;
                            cursor: pointer;

                        }
                        & input {
                            width: 40px;
                            height: 40px;
                            background-color: $clickerInputBg;
                            text-align: center;
                            font: inherit;
                            font-size: 16px;
                            font-weight: 700;
                        }
                    }
                } 
                & .btn-order-container{
                    order: 8;
                    display: flex;
                    & .btn-order {
                        margin-left: auto;
                        flex-grow: 0;
                        font: inherit;
                        font-weight: 700;
                        width: 152px;
                        height: 40px;
                        border-radius: 20px;
                        cursor: pointer;                       
                        &.add-to-cart {
                            padding-left: 40px;
                            background: url(../img/button_cart.svg) no-repeat;
                            background-position: 20px center;
                            background-color: $elements;
                            &::before {
                                box-sizing: content-box;
                                display: flex;
                                position: relative;
                                left: -3px;
                                top: 2px;
                                width: 10px;
                                height: 10px;
                                content: '';
                                border: 2px solid $elements;
                                border-radius: 6px;
                                background: url(../img/cartplus.svg) no-repeat;
                                background-color: #000000;
                                background-position: center center;
                                justify-content: center;
                                align-items: center;
                            }
                            &::after {
                                position: relative;
                                top: -6px;
                                content: 'Add to Cart';                     
                            }
                        }
                        &.notify-me {
                            padding-left: 40px;
                            background: url(../img/button_bell.svg) no-repeat;
                            background-position: 20px center;
                            background-color: $mainBg;
                            border: 2px solid $elements;
                            &::after {
                                content: 'Notify Me!';
                            }
                        }
                    }
                } 
            }       
        }  
    }
}