@import "partials/params";
@import "partials/mixins";
@import "partials/reset";

@font-face {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

// TODO: 
// accessibility
:focus {
  // outline: 1PX solid $fewStock;
  // outline: none;
  // box-shadow: 0 0 1px $mainBg;
  // box-shadow: 0 0 3px $elements;
}

html {
  font-size: $mainFontSize;
  color: $mainFontColor;
  
  // line-height: $mainLineHeight;
  // height: 100%;
  // @media screen and (max-width: $desktopWidth) {
  //   font-size: 16px;
  // }
  // @media screen and (max-width: $tableWidth) {
  //   font-size: 15px;
  // }
  // @media screen and (max-width: $phoneWidth) {
  //   font-size: 14px;
  // }
}

body {
  margin: 0;
  padding: 0;
  font-family: Calibri;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  background-color: #E7E7E7;
  background-image: url('../img/bg_grey_tile.jpg');
  background-size: cover;
}

// *, *:before, *:after {
//   box-sizing: border-box;
// }

// h1, h2, h3, h4, h5, h6 {
//   margin: 0;
// }

// a {
//   text-decoration: none;
// }

// ul, li {
//   margin: 0;
//   padding: 0;
//   list-style-type: none;
// }

// section, .section {
//   position: relative;
//   padding: 40px 0;
//   @media screen and (max-width: $smDesktopWidth) {
//     padding: 36px 0;
//   }
//   @media screen and (max-width: $tableWidth) {
//     padding: 28px 0;
//   }
//   @media screen and (max-width: $phoneWidth) {
//     padding: 20px 0;
//   }
// }

// .wrapper {
//   display: flex;
//   flex-direction: column;
//   margin: 0 auto;
//   min-height: 100vh;
//   min-width: 100%;
// }

// .content-wrapper {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
// }

// .container {
//   width: 100%;
//   flex: 0 0 auto;
//   position: relative;
//   margin: 0 auto;
//   max-width: $desktopWidth;
//   @media screen and (max-width: $smDesktopWidth) {
//     max-width: $tableWidth;
//   }
//   @media screen and (max-width: $tableWidth) {
//     max-width: $phoneWidth;
//   }
//   @media screen and (max-width: $phoneWidth) {
//     max-width: $smPhoneWidth;
//   }
// }


  
  // .inp-namw{
  //   @include placeholder;
  //   @include size(100%, 47px);
  //   outline: 1px solid $neutral-secondary;
  // }

  .hide {
    display: none !important;
  }

  @import "./header.scss";
  @import "./main_content.scss";
  @import "./bestsellers.scss";
  @import "./catalog.scss";

