@import "partials/params";
@import "partials/mixins";

#container {
    width: 1309px;
    margin: 0 auto;

    // outline: 1px solid gray;

    & h1 {
        padding-top: 28px;
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 26px;
    }
    & .tools {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 32px;
        border-bottom: 1px solid $softBorderColor;
        padding-bottom: 19px;
        margin-bottom: 24px;
        & h2 { @include visually-hidden; }
        & .filters {
            display: flex;
            align-items: center;
            & ul {
                display: flex;
                max-width: 1000px;
                flex-wrap: wrap;
                & li {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 131px;
                    height: 32px;
                    border: 1px solid $softBorderColor;
                    border-radius: 16px;
                    padding: 0 10px;
                    background-color: $bodyBg;
                    margin-left: 5px;
                    & .filter-closer{
                        background-image: url('../img/closer_filter.svg');
                        width: 16px;
                        height: 16px;
                        cursor: pointer;
                    }
                }
            }
        }

        & .sorting {
            position: relative;
            & .sorting_select {
                position: relative;
                font: inherit;
                font-size: 16px;
                appearance: none;
                width: 115px;
                height: 30px;
                border-radius: 16px;
                border: 1px solid $softBorderColor;
                background-color: #E0E0E0;
                z-index: 1;
                padding: 0 10px 2px 10px;
                background-image: url('../img/select_down.svg');
                background-repeat: no-repeat;
                background-size: 8px 5px;
                background-position: 99px 12px;

                & option {
                    background-color: #ffffff;
                }
            }
        }        
    
    }

    & .bestsellers{
        margin-bottom: 15px;
    }

    & .catalog {
        margin-bottom: 15px;
    }

    & .load-nore-resalt {
        height: 50px;
        width: 100%;
        border-radius: 25px;
        border: 2px solid $softBorderColor;
        margin-bottom: 20px;
        background-color: $bodyBg;
        font-weight: 700;
        cursor: pointer;
        &:active {
            padding: 0;
        }
    }
}